<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='another.css') }}"> 
</head>
<body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolores maxime vero pariatur perferendis perspiciatis molestias laudantium, et velit laboriosam? Itaque distinctio, nostrum laudantium nemo eveniet facere dolore impedit quos.
</body>
</html>