<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ol>
      {% for key in marks.keys() %}
            <li>Marks of {{key}} is {{marks.get(key)}}</li>
            {% if marks.get(key) >= 45 %}
               <span> PASS </span>
            {% else %}
                <span> FAIL </span>
            {% endif %} 
      {% endfor %}

      
    </ol>
  </body>
</html>
